*{
	margin-top: 0;
}

h1{
	color: pink;
	font-size:150px;
	text-align:center;
}

h1,h2{
	padding: 50px;
}
.title{
	background: url(https://images.unsplash.com/photo-1508237866955-4439ca21b062?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c934f134692ab12b0c4c699c17109b6f&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-attachment: fixed;
}
h1:hover{
	color:white;
}
h2{
	color: white;
	font-size:75px;
	text-align: center;
}

body{
	text-align: center;
}

